Client/Library
Tools/protogen/source/client/__pycache__
Tools/ConfigTool/source/xmltool/xmltool/obj
Tools/ConfigTool/source/xmltool/xmltool/bin
Tools/ConfigTool/source/generator/generator/obj
Tools/ConfigTool/source/copyfile/copyfile/obj
Tools/ConfigTool/source/generator/.vs
Tools/ConfigTool/source/copyfile/copyfile/bin
Tools/ConfigTool/source/checker/checker/obj
Tools/ConfigTool/source/checker/checker/bin
Tools/ConfigTool/source/checker/.vs
*.suo
Server/Plugins/obj
Server/MainServer/obj
Server/Plugins/bin
Server/Core/obj
Server/BattleServer/obj
Tools/protogen/source/server/__pycache__
Tools/ConfigTool/source/generator/generator/bin
Server/MainServer/bin
Server/BattleServer/bin
Tools/protogen/source/client/build
protogen.spec
Tools/protogen/source/client/dist
Server/.vs/
